@layout({ title: 'Nouveau mot de passe' })
  <div class="h-screen flex">
    <img
      class="hidden lg:block md:w-6/12 object-cover"
      src="/images/login-background.webp"
      alt=""
    />
    <div class="flex justify-center items-center w-full lg:w-6/12">
      @form({ route: 'password_reset.update', routeParams: { token }, method: 'POST' })
        <h1 class="text-3xl uppercase text-amber-600 drop-shadow-lg">
          <a href="{{ urlFor('home.index') }}">
            <span class="text-black border-y-2 border-y-amber-600">Loca</span>van
          </a>
        </h1>
        <h3 class="my-3 text-gray-800">Choisir un nouveau mot de passe</h3>
        <div class="mb-3">
          @field.root({ name: 'password' })
            @!field.label({
              text: 'Nouveau mot de passe',
              class: 'block mb-3 text-gray-500 text-sm',
            })
            @!input.control({
              type: 'password',
              class:
                'border border-gray-300 p-2 w-full text-gray-900 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent-dark rounded shadow',
            })
            @!field.error()
          @end
        </div>
        <div class="mb-3">
          @field.root({ name: 'passwordConfirmation' })
            @!field.label({
              text: 'Confirmer le mot de passe',
              class: 'block mb-3 text-gray-500 text-sm',
            })
            @!input.control({
              type: 'password',
              class:
                'border border-gray-300 p-2 w-full text-gray-900 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent-dark rounded shadow',
            })
            @!field.error()
          @end
        </div>
        @!button({
          text: 'Enregistrer',
          type: 'submit',
          class:
            'bg-amber-600 text-white font-medium p-4 tracking-tight rounded hover:bg-amber-700 transition duration-150 cursor-pointer',
        })
      @end
    </div>
  </div>
@end
