@admin.layout()
  <main>
    <div class="flex flex-col md:flex-row">
      @include('partials/admin/nav')
      <section class="w-full">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table class="w-full text-sm text-left text-gray-500 mt-28 mb-28">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
              <tr>
                <th class="px-6 py-3">#</th>
                <th class="px-6 py-3">Avatar</th>
                <th class="px-6 py-3">Prénom</th>
                <th class="px-6 py-3">Nom</th>
                <th class="px-6 py-3">Email</th>
                <th class="px-6 py-3">Admin</th>
              </tr>
            </thead>
            <tbody>
              @each(user in users)
                <tr class="bg-white border-b">
                  <td class="px-6 py-4">{{ user.id }}</td>
                  <td>
                    <img
                      src="{{ await driveUrl(user.avatarPath) }}"
                      alt=""
                      class="w-10 h-10 rounded-full"
                    />
                  </td>
                  <td>{{ user.firstName }}</td>
                  <td>{{ user.lastName }}</td>
                  <td>{{ user.email }}</td>
                  <td class="text-left">
                    @if(user.isAdmin)
                      <span class="bg-green-100 text-green-800 px-2.5 py-0.5 rounded">Oui</span>
                    @else
                      <span class="bg-gray-100 text-gray-800 px-2.5 py-0.5 rounded">Non</span>
                    @end
                  </td>
                </tr>
              @end
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </main>
@end
