@let(classes = [])
@let(prompt = $props.get('prompt'))

<select {{
  $props
    .except(['options', 'prompt'])
    .merge({
      name: $context.name,
      id: $context.id,
      class: classes,
      'aria-invalid': $context.hasErrors ? 'true' : false,
      'data-invalid': $context.hasErrors ? 'true' : false,
      'aria-describedby': $context.hasErrors ? `${$context.id}-error` : '',
    })
    .toAttrs()
}}>
  @if(prompt)
    @let(hasSelection = $context.oldValue || $props.get('options').some((o) => o.isSelected))
    <option value="" disabled {{ hasSelection ? '' : 'selected' }}>{{ prompt }}</option>
  @end
  @each(option in $props.get('options'))
    @let(isSelected = option.isSelected
      ? true
      : $context.oldValue && $context.oldValue === option.value)
    <option value="{{ option.value }}" {{ isSelected ? 'selected' : '' }}>
      {{ option.name ?? option.value }}
    </option>
  @end
</select>
