@layout({ title: 'Mes réservations' })
  @include('partials/header')
  <section class="container mx-auto p-4 min-h-screen">
    <h1 class="text-2xl font-bold my-4">Mes réservations</h1>
    @if(bookings.length > 0)
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-4 justify-items-center"
      >
        @each(book in bookings)
          <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md">
            <a href="{{ urlFor('bookings.show', { id: book.id }) }}">
              <img
                class="rounded-t-lg w-full object-cover object-center aspect-video"
                src="{{ (await driveUrl(book.vehicle.pictures[0]?.path)) || '/images/default.webp' }}"
                alt="image du véhicule réservé"
              />
            </a>
            <div class="p-5">
              <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                  {{ book.vehicle.type.name }}
                  {{ book.vehicle.model }}
                </h5>
                <p class="mb-3 font-normal text-gray-700">
                  Réservation du
                  {{ book.createdAt.toLocaleString() }}
                </p>
                <div class="text-gray-500 mb-3">
                  <p>Début : {{ book.startDate.toLocaleString() }}</p>
                  <p>Fin : {{ book.endDate.toLocaleString() }}</p>
                </div>
                <a
                  href="#"
                  class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-amber-600 rounded-lg hover:bg-amber-700 focus:ring-4 focus:ring-amber-300 focus:outline-none"
                >
                  En savoir plus
                  <i class="fa-solid fa-arrow-right ml-4"></i>
                </a>
              </a>
            </div>
          </div>
        @end
      </div>
    @else
      <p class="text-red-500">Vous n'avez pas encore effectué de réservations.</p>
    @end
  </section>
@end
