@layout({ title: `Modification de ${auth.user.firstName} ${auth.user.lastName}` })
  @include('partials/header')
  <div class="container mx-auto">
    <h1 class="text-xl mt-4 font-bold">Modification de votre profil</h1>
    @form({
      route: 'profile.update',
      method: 'POST',
      enctype: 'multipart/form-data',
      class: 'bg-white p-4 shadow mt-4',
    })
      <div class="mb-3">
        @field.root({ name: 'firstname' })
          @!field.label({
            text: 'Prénom',
            class: 'block mb-2 text-sm font-medium text-gray-900',
          })
          @!input.control({
            type: 'text',
            value: auth.user.firstName,
            class:
              'bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
          })
          @!field.error()
        @end
      </div>

      <div class="mb-3">
        @field.root({ name: 'lastname' })
          @!field.label({
            text: 'Nom',
            class: 'block mb-2 text-sm font-medium text-gray-900',
          })
          @!input.control({
            type: 'text',
            value: auth.user.lastName,
            class:
              'bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
          })
          @!field.error()
        @end
      </div>

      <div class="mb-3">
        @!field.label({
          text: 'Email',
          class: 'block mb-2 text-sm font-medium text-gray-900',
        })
        <p
          class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 block w-full p-2.5"
        >
          {{ auth.user.email }}
        </p>
      </div>

      <div class="mb-3">
        @field.root({ name: 'password' })
          @field.label({
            class: 'block mb-2 text-sm font-medium text-gray-900',
          })
            <span class="text-bold text-red-500">*</span>
            Nouveau mot de passe
          @end
          @!input.control({
            type: 'password',
            class:
              'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block w-full p-2.5',
          })
          @!field.error()
        @end
      </div>

      <div class="mb-3">
        @field.root({ name: 'passwordConfirm' })
          @field.label({
            class: 'block mb-2 text-sm font-medium text-gray-900',
          })
            <span class="text-bold text-red-500">*</span>
            Confirmation de mot de passe
          @end
          @!input.control({
            type: 'password',
            class:
              'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block w-full p-2.5',
          })
          @!field.error()
        @end
      </div>

      <div class="mb-3">
        <p class="text-sm font-bold mb-2"><span class="text-red-500 font-bold">*</span> Avatar</p>
        <img src="{{ await driveUrl(auth.user.avatarPath) }}" alt="profile" class="w-24 h-24" />
        @field.root({ name: 'avatar' })
          @!input.control({
            type: 'file',
            class:
              'mt-2 rounded bg-gray-50 text-gray-900 w-full text-sm border border-gray-300',
          })
          @!field.error({ class: 'text-red-500 text-sm' })
        @end
      </div>

      <p class="text-sm my-4">
        <span class="text-red-500 font-light italic">
          * Laissez les champs vides si vous ne souhaitez pas modifier votre mot de passe
        </span>
      </p>
      @!button({
        text: 'Modifier',
        type: 'submit',
        class:
          'focus:outline-none text-white bg-green-400 hover:bg-green-500 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2',
      })
      <a
        class="focus:outline-none text-black bg-gray-300 px-5 py-3 rounded-lg text-sm font-medium hover:bg-gray-500 focus:ring-4 focus:ring-gray-300"
        href="{{ backUrl }}"
      >
        Retour
      </a>
    @end
  </div>
@end
